
header{
    display: flex;
    justify-content: space-between;
}

header img, header nav {
    padding: 20px;
}

header nav a {
    text-decoration:  none;
    text-wrap: wrap;
}

#info-autor a {
    padding: 20px 10px;
}
#bio{
    font-style: italic;
}

.carousel-item img {
    height:400px;
    object-fit: cover;
    width: 100%;
}