*{
    background-color: #1f1f1f;
    color: #FFF;
}

header{
    display: flex;
    justify-content: space-between;
}

header img, header nav {
    padding: 20px;
}

header nav a {
    text-decoration:  none;
    text-wrap: wrap;
}
